body {
  margin: 0;
  padding: 0;
}
/*로그인 모달창 시작*/
.login-background {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: block; /*transition이 제대로 보이게 하기 위함*/
  /*jquery에 css 적용대신 css를 통한 애니메이션이 많이 사용*/
  transition: all 1s;
  transform: translateY(-1650px);
}
.login-item {
  background: white;
  width: 70%;
  height: 50%;
  position: relative;
  margin: 120px;
  margin-left: 120px;
  padding: 20px;
  border-radius: 10px;
}
#email {
  margin-top: 30px;
}
#password {
  margin-top: 30px;
}
#email-alert {
  display: none;
}
#password-alert {
  display: none;
}
.login-btn {
  position: absolute;
  top: 50px;
  left: 120px;
  background: #6f4237;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  color: white;
  border: 0;
  outline: 0;
}
.home-btn {
  position: absolute;
  top: 50px;
  left: 270px;
  background: #3c2f2f;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  color: white;
  border: 0;
  outline: 0;
}
/*로그인 모달창 끝*/
.navbar-front-menu {
  position: relative;
  bottom: 30px;
  left: 75%;
}
.navbar-front-menu a {
  font-size: 12px;
  margin: 10px;
  cursor: pointer;
}
.navbar-All {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: #c5c6d0;
  z-index: 2;
  width: 100%;
  height: 120px;
  color: #564c42;
  transition: all 1s;
}
.navbar-brand {
  color: #564c42;
  font-weight: bold;
  font-size: 35px;
}
.navbar-back-menu {
  position: relative;
  right: 50px;
}
.navbar-back-menu a {
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}
#nav-menu-coffee:hover {
  background: #3c2f2f;
  color: white;
  height: 100px;
}

/*navbar 목록 나오기 시작*/
/*coffee*/
.menu-list-coffee {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  background: #3c2f2f;
  color: white;
  height: 450px;
  z-index: 2;
}
.menu-list-coffee li {
  list-style: none;
  cursor: pointer;
}
.menu-list-item {
  font-weight: bold;
  margin: 50px;
}
.menu-sub-list {
  position: relative;
  top: 85px;
  right: 180px;
}
.menu-sub-list li {
  margin: 30px;
  cursor: pointer;
}
/*menu*/
.menu-list-menu {
  display: none;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  background: #3c2f2f;
  color: white;
  height: 450px;
  z-index: 2;
}
.menu-list-menu li {
  list-style: none;
  cursor: pointer;
}
.menu-list-item {
  font-weight: bold;
  margin: 50px;
}
.menu-sub-list-f {
  position: relative;
  top: 85px;
  right: 150px;
}
.menu-sub-list-f li {
  margin: 30px;
  cursor: pointer;
}
/*store*/
.menu-list-store {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  background: #3c2f2f;
  color: white;
  height: 200px;
  z-index: 2;
}
.menu-list-store li {
  list-style: none;
  cursor: pointer;
}
.menu-list-item-s {
  font-weight: bold;
  position: relative;
  right: 100px;
  margin: 50px;
  margin-left: 100px;
}
.menu-sub-list-s {
  position: relative;
  top: 85px;
  right: 245px;
}
.menu-sub-list li {
  margin: 30px;
  cursor: pointer;
}
/*store*/
/*New goods*/
.menu-list-new {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  background: #3c2f2f;
  color: white;
  height: 200px;
  z-index: 2;
}
.menu-list-new li {
  list-style: none;
  cursor: pointer;
}
.menu-list-item-n {
  font-weight: bold;
  position: relative;
  right: 100px;
  margin: 50px;
  margin-left: 100px;
}
.menu-sub-list-n {
  position: relative;
  top: 85px;
  right: 245px;
}
.menu-sub-list li {
  margin: 30px;
  cursor: pointer;
}
/*New goods*/
/*navbar 목록 나오기 끝*/
/*메인 이미지 시작*/
.main-background {
  background-image: white;
  background-size: cover;
  height: 760px;
  color: black;
  font-weight: bold;
  border-radius: 0;
  position: relative;
}
.main-title {
  padding: 30px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 10%;
}
.main-img img {
  position: relative;
  transition: all 0.5;
  display: none;
}
.main-img-num1 {
  position: absolute;
  left: 40%;
  width: 350px;
  height: 250px;
  top: 135px;
}
.main-img-num2 {
  position: absolute;
  left: 32%;
  width: 280px;
  height: 280px;
  top: 155px;
}
.main-img-num3 {
  position: absolute;
  left: 30%;
  width: 260px;
  height: 350px;
  top: 85px;
}
/*메인 이미지 끝*/
/*회원가입 창 시작*/
.membership {
  position: absolute;
  text-align: center;
  width: 100%;
}
.membership-title {
  position: relative;
  bottom: 200px;
  background: #808588;
}
.membership-title p {
  margin: 20px;
  padding: 0;
  position: relative;
  right: 120px;
}
.membership-title button {
  float: right;
  position: relative;
  bottom: 80px;
  right: 400px;
  border: 0;
  outline: 0;
  margin-left: 20px;
  border-radius: 5px;
  width: 92px;
  height: 38px;
}
.membership-signIn {
  background: #c5c6d0;
}
/*회원가입 창 끝*/
.content-background {
  margin-top: 20px;
  background: #d0bb94;
  height: 250px;
  display: flex;
}
.content-item {
  flex: 1;
  background: white;
  width: auto;
  height: 200px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.content-item-title {
  position: relative;
  top: 80px;
}
.btn-login {
  background: #6f4237;
  color: white;
  border: 0;
  outline: 0;
}
.btn-login:hover {
  background: #d0bb94;
  color: black;
  border: 0;
  outline: 0;
}
/*왼쪽에서 메뉴 보기*/
.left-bar {
  width: 200px;
  height: 100%;
  background: #c45608;
  color: black;
  position: fixed;
  margin-left: -200px;
  z-index: 3;
  transition: all 1s; /*모든 css 변경 시 애니메이션 효과*/
}
.left-bar > p {
  margin-left: 50px;
  margin-top: 30px;
}
#left-bar-button {
  background: #d0bb94;
  color: black;
  border: 0;
  outline: 0;
  width: 180px;
  height: 50px;
  border-radius: 10px;
}
#left-bar-button:hover {
  background: #c45608;
  color: black;
  border: 0;
  outline: 0;
}
#left-bar-close {
  background: #d0bb94;
  color: black;
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  left: 60px;
  top: 20px;
}
/*addClass 사용하기 위한 class 분리
작동 안 될 경우 css 맨 아래로 옮길 것*/
.login-slide {
  transform: translateX(0px);
}
.left-bar-show {
  margin-left: 0px;
}
.left-bar-closeBar {
  margin-left: -200px;
}
/*이미지 슬라이드*/
.imgContent {
  width: 100vw;
  float: left;
}
.imgSlide {
  width: 500vw;
  transition: transform 1s;
  /* transform: translateX(-100vw); */
}
.imgContent > img {
  width: 100%;
}
.imgRight {
  position: absolute; /*요소를 겹치거나 띄우려면 absolute*/
  top: 50%;
  right: 0;
}
.imgLeft {
  position: absolute;
  top: 50%;
  left: 0;
}
.imgAllBtn {
  position: absolute;
  top: 90%;
  left: 45%;
}
/*slider*/
.slider {
  margin: 10px auto;
  width: 80%;
}
.img-box {
  position: relative;
  bottom: 25px;
}
.img-box img {
  width: 100%;
}
.slider-button {
  position: absolute;
  top: 75%;
  left: 25%;
}
.btn {
  border: none;
  outline: none;
  background: #888;
  padding: 5px;
  font-size: 5px;
  color: #ddd;
  cursor: pointer;
  margin: 1px auto;
}
.btn:hover {
  background: #ddd;
}
/*탭 슬라이드 시작*/
ul.tab-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.tab-list::after {
  content: "";
  display: block;
  clear: both;
}
.tab-btn {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.show-tab {
  border-top: 2px solid #c45608;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: #c45608;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}
.show-content {
  display: block;
}

/*탭 슬라이드 끝*/
/*form*/
.c-select {
  display: block;
}
.menu-select {
  display: block;
}
