body {
  margin: 0;
  padding: 0;
}
/*로그인 모달창 시작*/
.login-background {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block; /*transition이 제대로 보이게 하기 위함*/
  /*jquery에 css 적용대신 css를 통한 애니메이션이 많이 사용*/
  transition: all 1s;
  transform: translateX(-1550px);
}
.login-item {
  background: white;
  width: 80%;
  height: 50%;
  position: relative;
  margin: 120px;
  margin-left: 150px;
  padding: 20px;
  border-radius: 10px;
}
#email {
  margin-top: 30px;
}
#password {
  margin-top: 30px;
}
#email-alert {
  display: none;
}
#password-alert {
  display: none;
}
.form-btn {
  position: relative;
  top: 50px;
  left: 450px;
}
.login-btn {
  background: #6f4237;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  color: white;
  border: 0;
  outline: 0;
}
.home-btn {
  background: #3c2f2f;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  color: white;
  border: 0;
  outline: 0;
}
/*로그인 모달창 끝*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: #3c2f2f;
  z-index: 2;
  width: 100%;
  height: 80px;
  color: white;
}
.navbar-brand {
  color: white;
  font-weight: bold;
}
/*navbar 변경된 화면*/
.navbar-change {
  background: white;
  color: #3c2f2f;
  height: 50px;
  transition: all 1s; /*모든 css 변경 시 애니메이션 효과*/
}
.navbar-brand-change {
  color: #6f4237;
  font-weight: bold;
}
.menu-list {
  display: none;
  position: relative;
  left: 1290px;
}
.menu-list-item {
  list-style: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  text-align: center;
  width: 200px;
  height: 35px;
  border: 1px solid #6f4237;
}
.menu-list-item:hover {
  background: #6f4237;
  color: white;
  border: 0;
  outline: 0;
}
.main-background {
  background-image: url(coffee-shop.jpg);
  background-size: cover;
  height: 420px;
  color: white;
  font-weight: bold;
  border-radius: 0;
}
.main-title {
  padding: 30px;
  text-align: center;
  position: relative;
  top: 155px;
}

.content-background {
  margin-top: 20px;
  background: #d0bb94;
  height: 250px;
  display: flex;
}
.content-item {
  flex: 1;
  background: white;
  width: auto;
  height: 200px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.content-item-title {
  position: relative;
  top: 80px;
}
.btn-login {
  background: #6f4237;
  color: white;
  border: 0;
  outline: 0;
}
.btn-login:hover {
  background: #d0bb94;
  color: black;
  border: 0;
  outline: 0;
}
/*왼쪽에서 메뉴 보기*/
.left-bar {
  width: 200px;
  height: 100%;
  background: #c45608;
  color: black;
  position: fixed;
  margin-left: -200px;
  z-index: 3;
  transition: all 1s; /*모든 css 변경 시 애니메이션 효과*/
}
.left-bar > p {
  margin-left: 50px;
  margin-top: 30px;
}
#left-bar-button {
  background: #d0bb94;
  color: black;
  border: 0;
  outline: 0;
  width: 180px;
  height: 50px;
  border-radius: 10px;
}
#left-bar-button:hover {
  background: #c45608;
  color: black;
  border: 0;
  outline: 0;
}
#left-bar-close {
  background: #d0bb94;
  color: black;
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  left: 60px;
  top: 20px;
}
/*addClass 사용하기 위한 class 분리
작동 안 될 경우 css 맨 아래로 옮길 것*/
.login-slide {
  transform: translateX(0px);
}
.left-bar-show {
  margin-left: 0px;
}
.left-bar-closeBar {
  margin-left: -200px;
}
/*이미지 슬라이드*/
.imgContent {
  width: 100vw;
  float: left;
}
.imgSlide {
  width: 500vw;
  transition: transform 1s;
  /* transform: translateX(-100vw); */
}
.imgContent > img {
  width: 100%;
}
.imgRight {
  position: absolute; /*요소를 겹치거나 띄우려면 absolute*/
  top: 50%;
  right: 0;
}
.imgLeft {
  position: absolute;
  top: 50%;
  left: 0;
}
.imgAllBtn {
  position: absolute;
  top: 90%;
  left: 45%;
}
/*slider*/
.slider {
  margin: 10px auto;
  width: 80%;
}
.img-box {
  position: relative;
  bottom: 25px;
}
.img-box img {
  width: 100%;
}
.slider-button {
  position: absolute;
  top: 75%;
  left: 25%;
}
.btn {
  border: none;
  outline: none;
  background: #888;
  padding: 5px;
  font-size: 5px;
  color: #ddd;
  cursor: pointer;
  margin: 1px auto;
}
.btn:hover {
  background: #ddd;
}
/*탭 슬라이드 시작*/
ul.tab-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.tab-list::after {
  content: "";
  display: block;
  clear: both;
}
.tab-btn {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.show-tab {
  border-top: 2px solid #c45608;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: #c45608;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}
.show-content {
  display: block;
}

/*탭 슬라이드 끝*/
